/*
 * Body Colour to dark
 */
body {
	background-color:#243447;
}

table.websiteTable {
  border: 2px solid black;
  background-color: #6B778D;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.websiteTable td, table.websiteTable th {
  border: 1px solid white;
  padding: 3px 2px;
}


table.websiteTable tbody td {
  font-size: 15px;
}
table.websiteTable tr:nth-child(even) {
  background: #6B778D;
}
table.websiteTable thead {
  background: black;
}
table.websiteTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 1px solid white;
}
table.websiteTable thead th:first-child {
  border-left: none;
}

table.websiteTable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: #A40808;
}
table.websiteTable tfoot td {
  font-size: 13px;
}
table.websiteTable tfoot .links {
  text-align: right;
}
table.websiteTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #A40808;
  padding: 2px 8px;
  border-radius: 5px;
}


canvas {

  max-width:1000px !important;
  max-height:600px !important;
  margin: 0 auto;

}

.header {
  margin-top: -10px;
  font-size: 24px;
  text-align: center;
  margin-top: -34px;
  font-family: "Courier New", courier, monospace;
  font-size: 24px;
  margin-left: -10px;
  margin-right: -10px;
  height: 80px;
  background-color: #000000;
  color: #FFFFFF;

}

.dark-theme {
  color: #FFFFFF;
  font-weight: bold;
}

.collapsible {
  cursor: pointer;
  border: 10px;
  border-color: black;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: "Courier New", courier, monospace;
}

.active, .collapsible:hover {
  background-color: grey;
}

.content {
  padding: 0 18px;
  background-color: #999999;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.reload {
  border-color: black;
  padding: 1px;
  font-weight: bold;
  width: 40px;
  background-color: #FFFFFF;
  font-family: "Lucida Sans Unicode";
  font-size: 30px;
}
