.dark-theme {
  background-color:#243447;
  color: white;
}

.dark-theme h1 {
  text-align: center;
  margin-top: 0;
  height: 50px;
  border: 2px solid #F14321;
  background-color: black;
}

table.websiteTable {
  border: 2px solid #A40808;
  background-color: #6B778D;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.websiteTable td, table.websiteTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.websiteTable tbody td {
  font-size: 13px;
}
table.websiteTable tr:nth-child(even) {
  background: #6B778D;
}
table.websiteTable thead {
  background: #A40808;
}
table.websiteTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #A40808;
}
table.websiteTable thead th:first-child {
  border-left: none;
}

table.websiteTable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: #A40808;
}
table.websiteTable tfoot td {
  font-size: 13px;
}
table.websiteTable tfoot .links {
  text-align: right;
}
table.websiteTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #A40808;
  padding: 2px 8px;
  border-radius: 5px;
}

