.hidden {
    display: none;
}

.counter {
    align: center;
    text-align: center;
    font-size: 22px;
}

.dark-theme {
  background-color:#243447;
  color: #FFFFFF;
  font-weight: bold;
}

.dark-theme h1 {
  margin: 10px 0;
  text-align: center;
  border: 2px solid #FF2E63;
  background-color: black;
}

.logo {
  float: left;
  margin-left: 1px;
}

.timewaster-body {
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
}

.timewaster-text {
    text-align: center;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
}

.button {
    margin: 0 auto;
    padding: 10px;
    background-color: #0F4970;
    color: white;
    opacity: 0.8;
    text-align: center;
    text-decoration: none;
    display: block;
    font-weight: bold;
    justify-content: center;
    border: black solid 1px;
    height: 40px;
    width: 33%;
    transition: 0.3s;
    font-size: 12px;
    cursor: pointer;
    float: left;
    font-family: "Courier New", Courier, monospace;
}

.button:hover {
    background-color: #FF6363;
    opacity: 1;
    font-family: "Courier New", Courier, monospace;
}

.timeout-button {
    background-color: #0F4970;
    color: white;
    font-weight: bold;
    opacity: 0.8;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    border: black solid 1px;
    height: 40px;
    transition: 0.3s;
    font-size: 14px;
    cursor: pointer;
    float: right;
    font-family: "Courier New", Courier, monospace;
}

.timeout-button:hover {
    background-color: #FF6363;
    opacity: 1;
    font-family: "Courier New", Courier, monospace;
}

.header {
    background: #2abd23;
    color: white;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
}

#set-timeout {
    width: 2em;
}

/*
Switch toggle for counting time wasted on the website
*/
.switch {
    position: relative;
    float: right;
    display: inline-block;
    width: 50px;
    height: 28px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCC;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #FF2E63;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #FF6768;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
