.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.timewaster-counter {
  align: center;
  display: flex;
}

#set-timeout {
  width: 4em
}
